numpy
torch
normflow @ git+https://github.com/VincentStimper/normalizing-flows.git
boltzgen @ git+https://github.com/VincentStimper/boltzmann-generators.git
mdtraj
nflows
tqdm
wandb
hydra-core
hydra-joblib-launcher
joblib
